<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v2.min.js"></script>

    <script>
        function collect() {
            $.get('http://localhost:3000/collect', function (employeeData) {
                console.log(JSON.stringify(employeeData));
                var tableDiv = d3.select("#tableDiv");
                var table = tableDiv.append("table");

                for (var i = 0; i < employeeData.length; i++) {
                    var tableRow = table.append("tr");
                    tableRow.append("td")
                            .text(employeeData[i].FirstName);
                    tableRow.append("td")
                            .text(employeeData[i].lastName)
                }
            })
        }
    </script>
</head>
<body>
<button onclick="collect()">Click Me</button>
<div id="tableDiv"></div>
</body>
</html>